* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    cursor: none;
    background-image: url("Images/Cracked\ Screen.jpg");
    background-position: center;
    background-size: cover;
}